<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>Phone: </strong> {{ .Site.Data.contact.phone }} </div>
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
  </div>
  <div class="call-box-bottom">
    <!-- Hum de dum, hardcoded -->
    <a href="https://docs.google.com/forms/d/1hgV7iOsznZD8X0grEvTADG1zKEYLtXOouu3ql93ZtSI/viewform?ts=5e0911f9&edit_requested=true" class="button">Sign Up Here</a>
  </div>
</div>
